<div fxLayout="column" fxLayoutAlign="stretch">
    <div fxLayout="row">
        <h1>Permission Management</h1>
    </div>
    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
            <div fxLayout="column" fxLayoutAlign="start center">
                <app-admin-filter-selection></app-admin-filter-selection>
            </div>
            <app-admin-filter-display></app-admin-filter-display>
        </div>
        <div fxLayout="column" fxFlex>
            <h2>Account Open Fulfillment</h2>
            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                <mat-tab label="Assigned Users">
                    <app-material-table></app-material-table>
                </mat-tab>
                <mat-tab label="Task Instances"> Content 2 </mat-tab>
                <mat-tab label="Permissions"> Content 3 </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>



<!-- <mat-sidenav-content> -->
    
<!-- </mat-sidenav-content> -->

        <!-- <router-outlet></router-outlet> -->


